* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("./forest-ge99101267_1920.jpeg");
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.loginContent {
    position: relative;
    width: 250px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 125px);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
}

.loginContent:after {
    content: "";
    width: 400px;
    height: 400px;
    background: inherit;
    position: absolute;
    top: -25px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
}

.loginUser {
    position: relative;
    margin-top: 15px;
    text-align: center;
    z-index: 1;
}

.LoginUser>* {
    display: inline-block;
    width: 200px;
}

.avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 2px black;
    background-size: cover;
    background-position: top;
    background-image: url("./chicago-g6bd816056_1920.jpeg");
}

.login {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0px 0px 2px black;
}

input.password {
    margin-bottom: 15px;
    width: 120px;
    height: 18px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
}

.user {
    position: relative;
    margin-bottom: 15px;
    width: 120px;
    height: 18px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
    line-height: 15px;
    text-shadow: 0px 0px 2px white;
    border: none;
    color: white;
}

.submitbtn {
    position: relative;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    opacity: 0.4;
    border-radius: 2px;
    padding: 5px 15px;
    border: 0;
    font-size: 20px;
    text-shadow: 0px 0px 2px white;
    border: none;
    line-height: 15px;
}

.subbtn:hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.subbtn:before,
.subbtn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: white;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.subbtn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.subbtn:hover:before,
.subbtn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}